<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ЩАБЛЁН</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='edit_template.js') }}"></script>

</head>

<body bgcolor="#dee2e6" class="flex-vertical">
    <div class="fone">
      <div class="top-element">
        <div style="font-family: Montserrat, Helvetica, sans-serif; font-size: 35px; color: #ffffff; text-align: center; font-weight: bold;">
          SOKOLOV
        </div> 
        <hr class="liniya">
      </div>

        <button class="panel" >Настройка шапки</button>

        <button class="panel" >Редактирование холста</button>

        <button id="add-text" class="panel" >Добавить текст</button>

        <button class="panel" id="add-img"
        
        
        
        
        
        
        
        
        
        >Добавить картинку</button>
        <!-- <input id="file-input" type="file" name="name" style="display: none;"/> -->

        <!-- onclick="open_file_dialog()" -->

      <div class="preview">
        <hr style="width: 80%">
        <button class="preview" >Посмотреть результат</button>
      </div>
      
      
<!--         
      <div class="add-img-template" id="add-img"></div>
      <div class="add-text-template"id="add-text"></div> -->
    </div>
    <div class="main-content" id="main">
      <!-- <canvas id="pattern"></canvas> -->
    </div>

    <div class="right-menu flex-vertical">
      <div class="right-text">
        Размер шаблона
      </div>
      <div class="text-right-menu">
        Высота:
        <input class="text-field__input" id="height" type="text" name="text" placeholder="Высота" ><br>
        Ширина:
        <input class="text-field__input" id="width" type="text" name="text" placeholder="Ширина" >
      </div>
      <div class="right-text">
        Отступ по вертикали
      </div>
      <div class="text-right-menu">
        Отступ сверху:
        <input class="text-field__input" id="margin-top" type="text" name="text" placeholder="Отступ сверху" >
        Отступ снизу:
        <input class="text-field__input" id="bottom-x" type="text" name="text" placeholder="Отступ снизу" >
      </div>

      <div class="right-text">
        Отступ по горизонтали
      </div>

      <div class="text-right-menu">
        Отступ слева:
        <input class="text-field__input" id="margin-left" type="text" name="text" placeholder="Отступ слева" ><br>
        Отступ справа:
        <input class="text-field__input" id="right-y" type="text" name="text" placeholder="Отступ справа" >
      </div>


      <div class="right-text">
        Цвет фона
        <input class="cr" type="color" id="background-color">
      </div>
      

      
    </div>


</body>
</html>