<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ФОТОЩЁП</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
  <script src="{{ url_for('static', filename='po.js') }}"></script>

</head>

<body style="display: flex;">


  <div class="start-container">

    <button class="btn create" id="openModalBtn">
      Создать шаблон
    </button>

    <button class="btn import">
      Выгрузить данные в шаблон
    </button>
  </div>
  <div class="black"></div>
  <div class="shabloni">
    <div class="title">Шаблоны</div>
        
    <div>
      <section>
        <select class="filter">
          <option>Фильтр</option>
          <option>Серьги</option>
          <option>Кольца</option>
          <option>Браслеты</option>
          <option>Подвески</option>
          <option>Шармы</option>
          <option>Цепи</option>
          <option>Броши</option>
          <option>Колье</option>
          <option>Пирсинг</option>
          <option>Запонки</option>
          <option>Сувенирная продукция</option>
          <option>Брелоки</option>
          <option>Зажимы для галстука</option>
          <option>Заколки</option>
          <option>Часы</option>
          <option>Столовое серебро</option>
          <option>Столовые приборы</option>
          <option>Посуда</option>
          <option>Погремушки</option>
        </select>
      </section>
    </div>

    <div class="struct_shablone">
      <div class="shablone ">
  
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div><div class="shablone">
        
      </div>
    </div>
  </div>
  
<!-- Модальное окно -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <h1 style=" color: rgb(0, 0, 0); font-weight: bold; font-family: 'Arial'; font-size: 28px; text-align: center; padding: 1px;">Параметры создания</h1>
    <!-- Выпадающие списки, которые будут заполняться данными через API -->
    <h2 class="text_modal">Бренд</h2>
    <select class="filter" id="brand"></select>
    <h2 class="text_modal">Тип изделия</h2>
    <select class="filter" id="producttype"></select>
    <h2 class="text_modal">Подтип изделия</h2>
    <select class="filter" id="productsubtype"></select>
    <h2 class="text_modal">Тип металла</h2>
    <select class="filter" id="metaltype"></select><br>
    <button id="closeModalBtn" class="btn_modal">Закрыть</button>
    <button id="createPattern" class="btn_modal" style="float: right;">Создать</button>
  </div>
</div>

<script>
  // Код для обработки нажатия на кнопку открытия модального окна
  document.getElementById('openModalBtn').addEventListener('click', function() {
      document.getElementById('myModal').style.display = 'block';
  });

  document.getElementById('createPattern').addEventListener('click', function() {
    const brand = document.getElementById('brand').value
    const metaltype = document.getElementById('metaltype').value
    const productsubtype = document.getElementById('productsubtype').value
    const xhr = new XMLHttpRequest();
        xhr.open("POST", document.URL+"/api/template");
        xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
        // const body = JSON.stringify({});
        xhr.onload = () => {
          if (xhr.status == 200) {
            const json_response = JSON.parse(xhr.responseText);
            window.location.href = document.URL+"/template/"+json_response['template_id'];
          } else {
            console.log(`Error: ${xhr.status}`);
          }
        };
        xhr.send(JSON.stringify({
          "brand_id":brand,
          "metal_type_id":metaltype,
          "product_subtype_id":productsubtype,
        }));
  });
  
  
  // Функция для загрузки данных JSON из API
  function fetchData(url, callback, elementId) {
      fetch(url)
          .then(response => response.json())
          .then(data => callback(data, elementId))
          .catch(error => console.error('Ошибка загрузки данных:', error));
  }
  
  // Функция для заполнения выпадающего списка
  function loadComboBox(jsonData, elementId) {
      const dropdown = document.getElementById(elementId);
      // Очистка списка перед добавлением новых элементов
      dropdown.innerHTML = '';
      // Добавление элементов из JSON в список
      jsonData.entities.forEach(entity => {
          const option = document.createElement('option');
          option.value = entity.id;
          option.textContent = entity.name;
          dropdown.appendChild(option);
      });
  }
  
  // URL API
  const apiUrl = 'http://127.0.0.1:5000/api/';
  
  // Вызов функции загрузки данных и заполнения списка при загрузке страницы
  window.addEventListener('load', () => {
      fetchData(apiUrl+'brand', loadComboBox, 'brand');
      fetchData(apiUrl+'productsubtype', loadComboBox, 'productsubtype');
      fetchData(apiUrl+'producttype', loadComboBox, 'producttype');
      fetchData(apiUrl+'metaltype', loadComboBox, 'metaltype');
  });
  
  
  // Код для обработки нажатия на кнопку закрытия модального окна
  document.getElementById('closeModalBtn').addEventListener('click', function() {
      document.getElementById('myModal').style.display = 'none';
  });
  </script>
  

</body>

</html>